html { 
  background: url(images/bgfeet.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

 body{
     padding: 0;
     margin: 0;
 }
#content{
    position: relative;
    left: 30%;
    top:35px;
    background-color: wheat;
    width:40%;
    height: 400px;
    opacity: .9;
}
.text{
    font-family: 'Josefin Sans';
    text-align: center;
    color:black;
    font-size: 30px;
}

h4{
  padding: 5px;
}

#header{
    font-size:45px;
    color: #1A000B;
    background-color: wheat;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-family: 'Delius Unicase', cursive;
}

img{
    padding: 0;
    margin: 0;
}

.hidden {
    display:none;
}

.button {
    border: 1px solid #21030B;
    padding: 5%;
    /*margin: 5;*/
    height: 10%;
    background: #21030B;
    color: #fff;
    width:40%;
    position: relative;
    left: 25%;
}

.button:hover {
    background: #21030B;
    cursor: pointer;
}
#foot-image{
    height: 140px;
    width: 140px;
    padding: 10px;
}
.question-mark{
    height: 60px;
    width: 60px;
    border-radius:30px; 
    padding: 5px;
    margin: 0;
    float: right;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,1);
}

.modal-content {
    position: relative;
    background-color: #14000B;
    margin: auto;
    color: white;
    padding: 0;
    /*border: 1px solid #624A3B;*/
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #F5DEB3;
    color: black;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #F5DEB3;
    color: black;
}

#bar{
    background: #21030B;
    position: relative;
    left: 10%;
    height: 3%;
    width: 80%;
}

.footer{
    position: fixed;
    left: 0%;
    top:33%;
    height: 30%;
    width: 4%;
    background-color: #F5DEB3;
    box-shadow: 5px 7px gray;
}
@media (max-width: 599px) {
  #header{
    width: 100%;
    height: 10%;
  }
  #content{
    width: 50%;
    height: 60%;
    left: 30%;
  }
  .button{
    width: 40%;
    height: 30%;
    left: 20%;
    padding: 12%;
  }
  #bar{
    left: 10%;
    height: 3%;
    width: 80%;
  }
  .footer{
    left: 0%;
    top:33%;
    height: 30%;
    width: 4%;
  }
}